<!DOCTYPE html>
<html lang="en">
<head>
    <title>Making Of</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">
                        <img class="rounded nav-icon" src="{% static 'img/home.png' %}" alt="Home" width="32"
                             height="32">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'gallery' %}">
                        <img class="rounded nav-icon" src="{% static 'img/gallery.png' %}" alt="Gallery" width="32"
                             height="32">
                        Gallery
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'making_of' %}">
                        <img class="rounded nav-icon" src="{% static 'img/making_of.png' %}" alt="Making Of" width="32"
                             height="32">
                        Making Of
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'newsletter' %}">
                        <img class="rounded nav-icon" src="{% static 'img/newsletter.png' %}" alt="Newsletter"
                             width="32"
                             height="32">
                        Newsletter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'vogu.guru' %}">
                        <img class="rounded nav-icon" src="{% static 'img/guru.png' %}" alt="vogu.guru"
                             width="32"
                             height="32">
                        vogu.guru
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">
                        <img class="rounded nav-icon" src="{% static 'img/about.png' %}" alt="About" width="32"
                             height="32">
                        About
                    </a>
                </li>
            </ul>
        </div>
        <h3 class="text-center mt-3"><b>🐣</b></h3>
    </div>
</nav>

<!-- Making Of Section -->
<div class="container mt-4">
    <h3 class="text-center mt-3"><b>Making Of: The Birdhouse Monitor</b></h3>
    <p class="text-center">A behind-the-scenes look at the creation of Vögeli 🐣. <br>
        Since we noticed a lot of birds building their nests inside the housing of the shutters for our office windows,
        we thought we would approach this in a scientific way: conduct some behavior studies. We thus built a
        comfortable bird hotel with Orwell-esque surveillance.</p>

    <div class="row">
        <!-- Step 1: Hardware Setup -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/inside.jpg' %}" class="card-img-top" alt="Hardware Setup">
                <div class="card-body">
                    <h5 class="card-title">Camera, motion sensor and temperature/humidity sensor inside of the
                        birdhouse.</h5>
                    <p class="card-text">We started by assembling the Raspberry Pi, camera, and motion sensors inside
                        the birdhouse.</p>
                </div>
            </div>
        </div>

        <!-- Step 2: Coding & Debugging -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/electronics.jpg' %}" class="card-img-top" alt="Raspberry Pi">
                <div class="card-body">
                    <h5 class="card-title">Electronics</h5>
                    <p class="card-text">A Raspberry Pi 3 is controlling the birdhouse and is located on the roof. We
                        coded the backend using Django and fine-tuned the GPIO motion detection with Python. The
                        software can be found on <a href="https://github.com/hacknus/birdhouse-monitor"> Github </a></p>
                </div>
            </div>
        </div>

        <!-- Step 3: Testing in the Wild -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/outside.jpg' %}" class="card-img-top" alt="Testing in Nature">
                <div class="card-body">
                    <h5 class="card-title">Complete Assembly</h5>
                    <p class="card-text">Everything was then assembled and is ready to be mounted outside.</p>
                </div>
            </div>
        </div>

        <!-- Step 4: Mounting-->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/mounting.jpg' %}" class="card-img-top" alt="Testing in Nature">
                <div class="card-body">
                    <h5 class="card-title">Mounting Outside</h5>
                    <p class="card-text">The Birdhouse was then mounted outside with space-grade zip-ties. Power and LAN
                        are passed through thin cables from the office.</p>
                </div>
            </div>
        </div>

        <!-- Step 3: Testing in the Wild -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/final.jpg' %}" class="card-img-top" alt="Testing in Nature">
                <div class="card-body">
                    <h5 class="card-title">Birdhouse</h5>
                    <p class="card-text">The birdhouse is shining in all its glory and ready for check in!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark text-center text-white" id="about">
    <div class="container p-4">
        <h5>Social media</h5>
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/hacknus/birdhouse-monitor"
               role="button">
                <i class="fa fa-github"></i>
            </a>
        </section>
        <h5>About us</h5>
        <section class="mb-4">
            Vögeli 🐣 is an open-source project that uses a Raspberry Pi to monitor your birdhouse. The codebase is
            inspired by <a href="https://github.com/markub3327/AIGarden" target="_blank" rel="noopener noreferrer">AIGarden</a>
            (Martin Kubovčík).
            Special thanks to Rafael Ottersberg and Ruben Tandon for their support.
        </section>
    </div>
    <div class="text-center p-3 my-footer">
        © 2025 Copyright: Linus Leo Stöckli
    </div>
</footer>

</body>
</html>