<!DOCTYPE html>
<html lang="en">
<head>
    <title>Newsletter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">
                        <img class="rounded nav-icon" src="{% static 'img/home.png' %}" alt="Home" width="32"
                             height="32">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'gallery' %}">
                        <img class="rounded nav-icon" src="{% static 'img/gallery.png' %}" alt="Gallery" width="32"
                             height="32">
                        Gallery
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'making_of' %}">
                        <img class="rounded nav-icon" src="{% static 'img/making_of.png' %}" alt="Making Of" width="32"
                             height="32">
                        Making Of
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'newsletter' %}">
                        <img class="rounded nav-icon" src="{% static 'img/newsletter.png' %}" alt="Newsletter"
                             width="32"
                             height="32">
                        Newsletter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">
                        <img class="rounded nav-icon" src="{% static 'img/about.png' %}" alt="About" width="32"
                             height="32">
                        About
                    </a>
                </li>
            </ul>
        </div>
        <h3 class="text-center mt-3"><b>🐣</b></h3>
    </div>
</nav>

<!-- Newsletter Form -->
<div class="newsletter-container">
    <h1>Newsletter Subscription</h1>

    <div id="newsletter_disclaimer" class="text-center">
        <p> Get notified if there is movement in the birdhouse! Maximum one e-mail per day.</p>
    </div>

    <!-- Add an Email Address -->
    <h4>Add an Email Address</h4>
    <form method="post" action="{% url 'add_email' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Add Email</button>
    </form>

    <!-- Remove an Email Address -->
    <br>
    <h4>Remove an Email Address</h4>
    <form method="post" action="{% url 'remove_email' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter email to remove" required>
        <button type="submit">Remove Email</button>
    </form>

    <!-- Display the current subscribers -->
    <br>
    <h4>Current Subscribers</h4>
    <div id="subscriberCount">
        Number of subscribers: {{ subscriber_count }}
    </div>

    <!-- Display success or error messages -->
    {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white" id="about">
    <div class="container p-4">
        <h5>Social media</h5>
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/hacknus/birdhouse-monitor"
               role="button">
                <i class="fa fa-github"></i>
            </a>
        </section>
        <h5>About us</h5>
        <section class="mb-4">
            Vögeli 🐣 is an open-source project that uses a Raspberry Pi to monitor your birdhouse. The codebase is
            inspired by <a href="https://github.com/markub3327/AIGarden" target="_blank" rel="noopener noreferrer">AIGarden</a>
            (Martin Kubovčík).
        </section>
    </div>
    <div class="text-center p-3 my-footer">
        © 2025 Copyright: Linus Leo Stöckli
    </div>
</footer>
</body>
</html>